/*
12 Column Mobile First Grid System
*/

//Grid Variables
$desktop: 1140px;
$tablet: 768px;
$mobile: 550px;
$gutters: 14px;
$padding: 6px;

.row {
    margin: 0 auto;
    max-width: $desktop;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] { //anything that begins w/whatever is in ""
    float: left;
    width: 100%;
}

.row [class^="col-"] { //all columns inside row
    @media only screen and (min-width: $tablet) {
        margin-left: $gutters/2;
        margin-right: $gutters/2;
    }
}

.row .col-1 {
    @media only screen and (min-width: $tablet) {
        width: calc(8.333333% - #{$gutters}); //minus gutter size; must use the #{} for sass
    }
}

.row .col-2 {
    @media only screen and (min-width: $tablet) {
        width: calc(16.666666% - #{$gutters});
    }
}

.row .col-3 {
    @media only screen and (min-width: $tablet) {
        width: calc(25% - #{$gutters});
    }
}

.row .col-4 {
    @media only screen and (min-width: $tablet) {
        width: calc(33.333333% - #{$gutters});
    }
}

.row .col-5 {
    @media only screen and (min-width: $tablet) {
        width: calc(41.666666% - #{$gutters});
    }
}

.row .col-6 {
    @media only screen and (min-width: $tablet) {
        width: calc(50% - #{$gutters});
    }
}